.landing__banner > h1 {
  font-size: 3rem;
}

.landing__banner > p {
  font-weight: 300;
}
.main__landing {
  display: flex;
  height: 100svh;
}

.landing__center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: center;
}
.landing__right {
  flex: auto;
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 11%,
    rgba(164, 6, 114, 1) 72%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 60px;
  border-bottom-left-radius: 20rem;
  border-top-left-radius: 20rem;
}
.landing__left {
  flex: auto;
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 11%,
    rgba(164, 6, 114, 1) 72%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 60px;
  border-bottom-right-radius: 20rem;
  border-top-right-radius: 20rem;
}
.landing__auth {
  text-decoration: none;
  padding: 0.3rem;
  background-color: var(--secondary-color);
  color: white;
}
.landing__btns {
  margin-top: 0.8rem;
}
.landing__btns > a {
  border-radius: 0.8rem;
  font-weight: bold;
}
@media screen and (max-width: 720px) {
  .landing__right {
    display: none;
  }
  .landing__left {
    display: none;
  }
}
