.auth__heading {
  display: flex;
  align-items: center;
}
.auth__form {
  display: grid;
  gap: 20px;
  max-width: 720px;
  width: 100%;
}
.auth__wrapper {
  padding-inline: 1rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
