.amount__field {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border: 2px solid lightgray;
}

.amount__field > input {
  width: 100%;
  padding: 0.3rem;
  border: 0;
  font-size: 3rem;
  outline: none;
}
.amount__currency {
  padding: 0.3rem;
  background-color: var(--secondary-color);
  color: white;
}
