.load__more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 0.3rem;
  cursor: pointer;
  width: 50px;
}
.load__more > p {
  font-size: small;
}
.load__moreWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 0.8rem;
  font-weight: 600;
}
.load__more:hover {
  background-color: #a19e9e;
}
