.search__form {
  display: grid;
  gap: 0.5rem;
  margin-block: 1rem;
}
.search__form > input {
  font-size: 1.1rem;
  width: 100%;
  padding: 0.2rem;
}
.search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
